body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #f0f4f8;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
}

input {
  width: 89%;
  padding: 10px;
  border: 2px solid rgb(39, 139, 156);
  border-radius: 10px;
  font-size: large;
  margin-left: 2%;
}

input:focus {
  outline: none;
  border-color: rgb(17, 162, 143);
}

button {
  width: 100%;
  padding: 10px;
  font-size: large;
  color: white;
  border: 2px solid rgb(39, 139, 156);
  border-radius: 10px;
  background-color: rgba(1, 1, 163, 0.757);
  transition: background-color 0.3s ease;
  margin-bottom: 2%;
}

button:hover {
  background-color: rgb(17, 162, 143);
  cursor: pointer;
}

.qr {
  margin: 0 auto;
  padding: 10px;
  border-radius: 20px;
  border: 5px double rgb(49, 33, 94);
  background-color: #fff;
  width: fit-content;
}
.qr-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.qr-wrapper {
  position: relative;
  width: 300px;
  height: 300px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 5px double rgb(49, 33, 94);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.qr-center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  font-weight: bold;
  color: #000000;
  background-color: transparent;
  padding: 4px 8px;
  border-radius: 8px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3), 0 30px 10px rgba(0, 0, 0, 0.1);

}



